In [1]:
import pandas as pd
import numpy as np
import datetime

In [5]:
ts = pd.Timestamp("2024-06-16 04:30:10") # objeto timestamp
ts

Timestamp('2024-06-16 04:30:10')

In [6]:
datetime.datetime(2024,6,1,4,30,10) # objeto datetime

datetime.datetime(2024, 6, 1, 4, 30, 10)

In [8]:
now = pd.Timestamp.now()
now

Timestamp('2024-06-17 06:34:12.593690')

In [9]:
# converter datatime em timestamp
pd.Timestamp(datetime.datetime.now())

Timestamp('2024-06-17 06:35:22.113532')

In [10]:
data = pd.read_parquet("data+files/stock_data.parquet")

In [11]:
data

             date    close symbol
0      2023-09-05  189.585   AAPL
1      2023-09-01  189.460   AAPL
2      2023-08-31  187.870   AAPL
3      2023-08-30  187.650   AAPL
4      2023-08-29  184.120   AAPL
...           ...      ...    ...
61078  1980-03-21  290.000  BRK.A
61079  1980-03-20  290.000  BRK.A
61080  1980-03-19  290.000  BRK.A
61081  1980-03-18  290.000  BRK.A
61082  1980-03-17  290.000  BRK.A

[61083 rows x 3 columns]

In [12]:
data.info() # a data está em string

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61083 entries, 0 to 61082
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    61083 non-null  object
 1   close   61083 non-null  float64
 2   symbol  61083 non-null  object
dtypes: float64(1), object(2)
memory usage: 1.4+ MB

In [13]:
data.date =pd.to_datetime(data.date)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61083 entries, 0 to 61082
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    61083 non-null  datetime64[ns]
 1   close   61083 non-null  float64
 2   symbol  61083 non-null  object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 1.4+ MB

In [14]:
data.sample(2)

            date       close symbol
50012 1973-02-06    0.058838    WMT
37978 2020-10-21  144.400000    WMT

Frequencias de tempo

- B - Dias úteis (exclui finais de semana)
- C - Dias úteis personalizados
- D - Dias calendários
- W - Semanas
- M - Fim do mês
- MS - Início do mês
- Q - Fim do trimestre (março, junho, setembro, dezembro)
- QS - Início do trimestre
- A ou Y - Fim do ano
- AS ou YS - Início do ano
- BA - Fim do ano comercial (fim do mês de abril, junho, setembro ou dezembro)
- BAS - Início do ano comercial
- H - Horas
- T ou min - Minutos
- S - Segundos
- L ou ms - Milissegundos
- U ou us - Microssegundos
- N - Nanosegundos

In [15]:
# criar um range de data

pd.date_range("2023-01-01", periods=1000, freq="S")

DatetimeIndex(['2023-01-01 00:00:00', '2023-01-01 00:00:01',
               '2023-01-01 00:00:02', '2023-01-01 00:00:03',
               '2023-01-01 00:00:04', '2023-01-01 00:00:05',
               '2023-01-01 00:00:06', '2023-01-01 00:00:07',
               '2023-01-01 00:00:08', '2023-01-01 00:00:09',
               ...
               '2023-01-01 00:16:30', '2023-01-01 00:16:31',
               '2023-01-01 00:16:32', '2023-01-01 00:16:33',
               '2023-01-01 00:16:34', '2023-01-01 00:16:35',
               '2023-01-01 00:16:36', '2023-01-01 00:16:37',
               '2023-01-01 00:16:38', '2023-01-01 00:16:39'],
              dtype='datetime64[ns]', length=1000, freq='S')

In [16]:
pd.date_range("2023-01-01", periods=1000, freq="min")

DatetimeIndex(['2023-01-01 00:00:00', '2023-01-01 00:01:00',
               '2023-01-01 00:02:00', '2023-01-01 00:03:00',
               '2023-01-01 00:04:00', '2023-01-01 00:05:00',
               '2023-01-01 00:06:00', '2023-01-01 00:07:00',
               '2023-01-01 00:08:00', '2023-01-01 00:09:00',
               ...
               '2023-01-01 16:30:00', '2023-01-01 16:31:00',
               '2023-01-01 16:32:00', '2023-01-01 16:33:00',
               '2023-01-01 16:34:00', '2023-01-01 16:35:00',
               '2023-01-01 16:36:00', '2023-01-01 16:37:00',
               '2023-01-01 16:38:00', '2023-01-01 16:39:00'],
              dtype='datetime64[ns]', length=1000, freq='T')

In [19]:
pd.date_range("2023-01-01", periods=1000, freq="5min")

DatetimeIndex(['2023-01-01 00:00:00', '2023-01-01 00:05:00',
               '2023-01-01 00:10:00', '2023-01-01 00:15:00',
               '2023-01-01 00:20:00', '2023-01-01 00:25:00',
               '2023-01-01 00:30:00', '2023-01-01 00:35:00',
               '2023-01-01 00:40:00', '2023-01-01 00:45:00',
               ...
               '2023-01-04 10:30:00', '2023-01-04 10:35:00',
               '2023-01-04 10:40:00', '2023-01-04 10:45:00',
               '2023-01-04 10:50:00', '2023-01-04 10:55:00',
               '2023-01-04 11:00:00', '2023-01-04 11:05:00',
               '2023-01-04 11:10:00', '2023-01-04 11:15:00'],
              dtype='datetime64[ns]', length=1000, freq='5T')

In [20]:
pd.date_range("2023-01-01", periods=1000, freq="D")

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2025-09-17', '2025-09-18', '2025-09-19', '2025-09-20',
               '2025-09-21', '2025-09-22', '2025-09-23', '2025-09-24',
               '2025-09-25', '2025-09-26'],
              dtype='datetime64[ns]', length=1000, freq='D')

In [21]:
pd.date_range("2023-01-01", periods=1000, freq="B") # exclui feriados

DatetimeIndex(['2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05',
               '2023-01-06', '2023-01-09', '2023-01-10', '2023-01-11',
               '2023-01-12', '2023-01-13',
               ...
               '2026-10-19', '2026-10-20', '2026-10-21', '2026-10-22',
               '2026-10-23', '2026-10-26', '2026-10-27', '2026-10-28',
               '2026-10-29', '2026-10-30'],
              dtype='datetime64[ns]', length=1000, freq='B')

In [25]:
pd.date_range("2023-01-03", periods=1000, freq="W-MON")
# semanal- ultimo dia da semana, domingo  - "W-MON"segunda, 2W-SAT

DatetimeIndex(['2023-01-09', '2023-01-16', '2023-01-23', '2023-01-30',
               '2023-02-06', '2023-02-13', '2023-02-20', '2023-02-27',
               '2023-03-06', '2023-03-13',
               ...
               '2041-12-30', '2042-01-06', '2042-01-13', '2042-01-20',
               '2042-01-27', '2042-02-03', '2042-02-10', '2042-02-17',
               '2042-02-24', '2042-03-03'],
              dtype='datetime64[ns]', length=1000, freq='W-MON')

In [29]:
pd.date_range("2023-01-01", periods=1000, freq="MS")
# M ultimo dia do mes,MS mes start

DatetimeIndex(['2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
               '2023-05-01', '2023-06-01', '2023-07-01', '2023-08-01',
               '2023-09-01', '2023-10-01',
               ...
               '2105-07-01', '2105-08-01', '2105-09-01', '2105-10-01',
               '2105-11-01', '2105-12-01', '2106-01-01', '2106-02-01',
               '2106-03-01', '2106-04-01'],
              dtype='datetime64[ns]', length=1000, freq='MS')

In [31]:
pd.date_range("2023-01-01", periods=1000, freq="6M", unit = "s")
# unit = "s", por usar nano segundos quebra o timestamp

DatetimeIndex(['2023-01-31', '2023-07-31', '2024-01-31', '2024-07-31',
               '2025-01-31', '2025-07-31', '2026-01-31', '2026-07-31',
               '2027-01-31', '2027-07-31',
               ...
               '2518-01-31', '2518-07-31', '2519-01-31', '2519-07-31',
               '2520-01-31', '2520-07-31', '2521-01-31', '2521-07-31',
               '2522-01-31', '2522-07-31'],
              dtype='datetime64[s]', length=1000, freq='6M')

In [34]:
pd.date_range("2023-01-01", periods=1000, freq="BM")
# ultimo dia util da semana mensalmente -BMS primeiro dia util

DatetimeIndex(['2023-01-31', '2023-02-28', '2023-03-31', '2023-04-28',
               '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
               '2023-09-29', '2023-10-31',
               ...
               '2105-07-31', '2105-08-31', '2105-09-30', '2105-10-30',
               '2105-11-30', '2105-12-31', '2106-01-29', '2106-02-26',
               '2106-03-31', '2106-04-30'],
              dtype='datetime64[ns]', length=1000, freq='BM')

In [35]:
pd.date_range("2023-01-01", periods=1000, freq="A", unit = "s")
# anual

DatetimeIndex(['2023-12-31', '2024-12-31', '2025-12-31', '2026-12-31',
               '2027-12-31', '2028-12-31', '2029-12-31', '2030-12-31',
               '2031-12-31', '2032-12-31',
               ...
               '3013-12-31', '3014-12-31', '3015-12-31', '3016-12-31',
               '3017-12-31', '3018-12-31', '3019-12-31', '3020-12-31',
               '3021-12-31', '3022-12-31'],
              dtype='datetime64[s]', length=1000, freq='A-DEC')

Datatime Acessor dt.

In [37]:
s1 = pd.Series(pd.date_range("2023-01-01", periods=1000, freq="D"))
s1

0     2023-01-01
1     2023-01-02
2     2023-01-03
3     2023-01-04
4     2023-01-05
         ...
995   2025-09-22
996   2025-09-23
997   2025-09-24
998   2025-09-25
999   2025-09-26
Length: 1000, dtype: datetime64[ns]

In [46]:
s1.dt.day_name()

0         Sunday
1         Monday
2        Tuesday
3      Wednesday
4       Thursday
         ...
995       Monday
996      Tuesday
997    Wednesday
998     Thursday
999       Friday
Length: 1000, dtype: object

In [43]:
s1.dt.dayofyear

0        1
1        2
2        3
3        4
4        5
      ...
995    265
996    266
997    267
998    268
999    269
Length: 1000, dtype: int32

In [50]:
data.loc[data.date.dt.month==2]
# busco o mes 2 em um dataframe

            date   close symbol
130   2023-02-28  147.41   AAPL
131   2023-02-27  147.92   AAPL
132   2023-02-24  146.71   AAPL
133   2023-02-23  149.40   AAPL
134   2023-02-22  148.91   AAPL
...          ...     ...    ...
60856 1981-02-06  430.00  BRK.A
60857 1981-02-05  430.00  BRK.A
60858 1981-02-04  430.00  BRK.A
60859 1981-02-03  430.00  BRK.A
60860 1981-02-02  430.00  BRK.A

[4635 rows x 3 columns]

In [52]:
s1.dt.strftime("%Y-%m-%d")

0      2023-01-01
1      2023-01-02
2      2023-01-03
3      2023-01-04
4      2023-01-05
          ...
995    2025-09-22
996    2025-09-23
997    2025-09-24
998    2025-09-25
999    2025-09-26
Length: 1000, dtype: object

# Datatime arithmetic e offsets

In [53]:
ts = pd.Timestamp("2024-01-01")
ts

Timestamp('2024-01-01 00:00:00')

In [54]:
# somar - usar Timedelta - semanas é o maior, nao tem ano e mes
ts+pd.Timedelta(weeks=1, days=6, hours=20, minutes=13, seconds=40)

Timestamp('2024-01-14 20:13:40')