In [9]:
import pandas as pd
import numpy as np

In [10]:
# series - objeto unidimensional
s1 = pd.Series([23, 22, 45, 67, 99])

In [11]:
s1

0    23
1    22
2    45
3    67
4    99
dtype: int64

In [12]:
# slice
s1[2:4]

2    45
3    67
dtype: int64

In [13]:
#index é uma propriedade do obj
s1.index

RangeIndex(start=0, stop=5, step=1)

In [14]:
# renomeando os index
s2 = pd.Series([4.4, 2.3, 5.1], index = ["a", "b", "c"])
s2

a    4.4
b    2.3
c    5.1
dtype: float64

In [15]:
s2["b"]

2.3

In [16]:
# com str o slice tudo é incluido - ***
s2["a":"c"]

a    4.4
b    2.3
c    5.1
dtype: float64

In [17]:
s2.name = "novo nome"
s2

a    4.4
b    2.3
c    5.1
Name: novo nome, dtype: float64

In [18]:
s2.name

'novo nome'

In [19]:
s2.index

Index(['a', 'b', 'c'], dtype='object')

In [23]:
s2.index = ['d', 'e', 'f']
s2

d    4.4
e    2.3
f    5.1
Name: novo nome, dtype: float64

In [20]:
s2.max()

5.1

In [21]:
s2.min()

2.3

In [24]:
type(s2)

pandas.core.series.Series

In [26]:
#transformar em array / não modifica a original
s2.to_numpy()

array([4.4, 2.3, 5.1])

In [27]:
s2.values # nao usar

array([4.4, 2.3, 5.1])

In [28]:
# adicionar um numero que nao existe
s3 = pd.Series([10,9,np.nan])
s3

0    10.0
1     9.0
2     NaN
dtype: float64