In [1]:
import pandas as pd
import numpy as np
import datetime

In [5]:
ts = pd.Timestamp("2024-06-16 04:30:10") # objeto timestamp
ts

Timestamp('2024-06-16 04:30:10')

In [6]:
datetime.datetime(2024,6,1,4,30,10) # objeto datetime

datetime.datetime(2024, 6, 1, 4, 30, 10)

In [8]:
now = pd.Timestamp.now()
now

Timestamp('2024-06-17 06:34:12.593690')

In [9]:
# converter datatime em timestamp
pd.Timestamp(datetime.datetime.now())

Timestamp('2024-06-17 06:35:22.113532')

In [10]:
data = pd.read_parquet("data+files/stock_data.parquet")

In [11]:
data

             date    close symbol
0      2023-09-05  189.585   AAPL
1      2023-09-01  189.460   AAPL
2      2023-08-31  187.870   AAPL
3      2023-08-30  187.650   AAPL
4      2023-08-29  184.120   AAPL
...           ...      ...    ...
61078  1980-03-21  290.000  BRK.A
61079  1980-03-20  290.000  BRK.A
61080  1980-03-19  290.000  BRK.A
61081  1980-03-18  290.000  BRK.A
61082  1980-03-17  290.000  BRK.A

[61083 rows x 3 columns]

In [12]:
data.info() # a data está em string

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61083 entries, 0 to 61082
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    61083 non-null  object
 1   close   61083 non-null  float64
 2   symbol  61083 non-null  object
dtypes: float64(1), object(2)
memory usage: 1.4+ MB

In [13]:
data.date =pd.to_datetime(data.date)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61083 entries, 0 to 61082
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    61083 non-null  datetime64[ns]
 1   close   61083 non-null  float64
 2   symbol  61083 non-null  object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 1.4+ MB

In [14]:
data.sample(2)

            date       close symbol
50012 1973-02-06    0.058838    WMT
37978 2020-10-21  144.400000    WMT

Frequencias de tempo

- B - Dias úteis (exclui finais de semana)
- C - Dias úteis personalizados
- D - Dias calendários
- W - Semanas
- M - Fim do mês
- MS - Início do mês
- Q - Fim do trimestre (março, junho, setembro, dezembro)
- QS - Início do trimestre
- A ou Y - Fim do ano
- AS ou YS - Início do ano
- BA - Fim do ano comercial (fim do mês de abril, junho, setembro ou dezembro)
- BAS - Início do ano comercial
- H - Horas
- T ou min - Minutos
- S - Segundos
- L ou ms - Milissegundos
- U ou us - Microssegundos
- N - Nanosegundos

In [15]:
# criar um range de data

pd.date_range("2023-01-01", periods=1000, freq="S")

DatetimeIndex(['2023-01-01 00:00:00', '2023-01-01 00:00:01',
               '2023-01-01 00:00:02', '2023-01-01 00:00:03',
               '2023-01-01 00:00:04', '2023-01-01 00:00:05',
               '2023-01-01 00:00:06', '2023-01-01 00:00:07',
               '2023-01-01 00:00:08', '2023-01-01 00:00:09',
               ...
               '2023-01-01 00:16:30', '2023-01-01 00:16:31',
               '2023-01-01 00:16:32', '2023-01-01 00:16:33',
               '2023-01-01 00:16:34', '2023-01-01 00:16:35',
               '2023-01-01 00:16:36', '2023-01-01 00:16:37',
               '2023-01-01 00:16:38', '2023-01-01 00:16:39'],
              dtype='datetime64[ns]', length=1000, freq='S')

In [16]:
pd.date_range("2023-01-01", periods=1000, freq="min")

DatetimeIndex(['2023-01-01 00:00:00', '2023-01-01 00:01:00',
               '2023-01-01 00:02:00', '2023-01-01 00:03:00',
               '2023-01-01 00:04:00', '2023-01-01 00:05:00',
               '2023-01-01 00:06:00', '2023-01-01 00:07:00',
               '2023-01-01 00:08:00', '2023-01-01 00:09:00',
               ...
               '2023-01-01 16:30:00', '2023-01-01 16:31:00',
               '2023-01-01 16:32:00', '2023-01-01 16:33:00',
               '2023-01-01 16:34:00', '2023-01-01 16:35:00',
               '2023-01-01 16:36:00', '2023-01-01 16:37:00',
               '2023-01-01 16:38:00', '2023-01-01 16:39:00'],
              dtype='datetime64[ns]', length=1000, freq='T')

In [19]:
pd.date_range("2023-01-01", periods=1000, freq="5min")

DatetimeIndex(['2023-01-01 00:00:00', '2023-01-01 00:05:00',
               '2023-01-01 00:10:00', '2023-01-01 00:15:00',
               '2023-01-01 00:20:00', '2023-01-01 00:25:00',
               '2023-01-01 00:30:00', '2023-01-01 00:35:00',
               '2023-01-01 00:40:00', '2023-01-01 00:45:00',
               ...
               '2023-01-04 10:30:00', '2023-01-04 10:35:00',
               '2023-01-04 10:40:00', '2023-01-04 10:45:00',
               '2023-01-04 10:50:00', '2023-01-04 10:55:00',
               '2023-01-04 11:00:00', '2023-01-04 11:05:00',
               '2023-01-04 11:10:00', '2023-01-04 11:15:00'],
              dtype='datetime64[ns]', length=1000, freq='5T')

In [20]:
pd.date_range("2023-01-01", periods=1000, freq="D")

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2025-09-17', '2025-09-18', '2025-09-19', '2025-09-20',
               '2025-09-21', '2025-09-22', '2025-09-23', '2025-09-24',
               '2025-09-25', '2025-09-26'],
              dtype='datetime64[ns]', length=1000, freq='D')