Agregação significa reduzir uma coluna para um numero, sej a max, sum,
mean, median ....

Transformação muda cada item da coluna

In [1]:
import pandas as pd
import numpy as np

O parâmetro parse_dates do método pd.read_csv do pandas é utilizado para converter automaticamente as colunas especificadas em objetos de data (Timestamp) ao ler um arquivo CSV.

In [4]:
data = pd.read_csv("data+files/realtor-data.csv", parse_dates=["prev_sold_date"])

NaT (Not a Time) é um valor especial usado no pandas para representar valores ausentes ou inválidos em colunas de data e hora (datetime)

In [10]:
data.sample(2)

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
883165,for_sale,2.0,2.0,NaN,Manhattan,New York,10025.0,NaN,NaT,1385000.0
639297,for_sale,3.0,3.0,0.11,Philadelphia,Pennsylvania,19111.0,1698.0,1988-11-04,279900.0

In [8]:
data.price.mean()

877438.1583343924

In [9]:
data.price.median()

475000.0



Média: É sensível a valores extremos (outliers). Um valor muito alto ou muito baixo pode distorcer a média.
Mediana: Não é afetada por outliers. Ela representa o valor central do conjunto de dados, independentemente de valores extremos.


Média: Representa o valor "médio" esperado dos dados. É útil quando os dados são simetricamente distribuídos.
Mediana: Representa o ponto médio dos dados. É mais representativa em distribuições assimétricas ou com outliers.


Média: Usada quando os dados são uniformemente distribuídos e não têm outliers significativos. Exemplo: médias de notas escolares.
Mediana: Usada quando os dados são assimétricos ou possuem outliers. Exemplo: renda familiar, onde poucos valores muito altos podem distorcer a média.

In [12]:
data[["bed","bath","acre_lot", "house_size", "price"]].median()

bed                3.00
bath               2.00
acre_lot           0.29
house_size      1650.00
price         475000.00
dtype: float64

std é a abreviação de desvio padrão (standard deviation, em inglês).

In [13]:
# agg() == aggregate()
data["price"].agg(["mean","median", "max", "min", "std"])

mean      8.774382e+05
median    4.750000e+05
max       8.750000e+08
min       0.000000e+00
std       2.457698e+06
Name: price, dtype: float64