In [2]:
import pandas as pd
import numpy as np

In [9]:
df=pd.DataFrame(np.random.rand(18).reshape(6,3), columns= ("A", "B", "C"))
df["Category"] = ['X','X','Y','Z','X','Y']
df

          A         B         C Category
0  0.788256  0.977294  0.895059        X
1  0.315070  0.083975  0.961911        X
2  0.521259  0.178340  0.630267        Y
3  0.106497  0.946737  0.895637        Z
4  0.106870  0.057974  0.981865        X
5  0.696199  0.681591  0.383645        Y

In [10]:
df.head(3) #primeiras 10 linhas

          A         B         C Category
0  0.788256  0.977294  0.895059        X
1  0.315070  0.083975  0.961911        X
2  0.521259  0.178340  0.630267        Y

In [11]:
df.tail()# ultimas 10 linhas

          A         B         C Category
1  0.315070  0.083975  0.961911        X
2  0.521259  0.178340  0.630267        Y
3  0.106497  0.946737  0.895637        Z
4  0.106870  0.057974  0.981865        X
5  0.696199  0.681591  0.383645        Y

In [13]:
df.sample(5)# linhas aleatorias

          A         B         C Category
3  0.106497  0.946737  0.895637        Z
5  0.696199  0.681591  0.383645        Y
2  0.521259  0.178340  0.630267        Y
1  0.315070  0.083975  0.961911        X
4  0.106870  0.057974  0.981865        X

In [14]:
df.columns

Index(['A', 'B', 'C', 'Category'], dtype='object')

In [15]:
df.describe()

              A         B         C
count  6.000000  6.000000  6.000000
mean   0.422358  0.487652  0.791397
std    0.293074  0.431595  0.236301
min    0.106497  0.057974  0.383645
25%    0.158920  0.107566  0.696465
50%    0.418164  0.429966  0.895348
75%    0.652464  0.880451  0.945343
max    0.788256  0.977294  0.981865

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   A         6 non-null      float64
 1   B         6 non-null      float64
 2   C         6 non-null      float64
 3   Category  6 non-null      object
dtypes: float64(3), object(1)
memory usage: 324.0+ bytes

In [17]:
df.shape

(6, 4)