In [1]:
import pandas as pd
import numpy as np

data =pd.read_csv("data+files/california_restaurants.csv")
df=pd.read_csv("data+files/example_1.csv", index_col="date")

In [2]:
df

            Stock_A  Stock_B  Stock_C
date
2023-01-01     20.0      NaN     19.0
2023-01-02    465.0      NaN      NaN
2023-01-03      NaN     14.0     86.0
2023-01-04      NaN     25.0     19.0
2023-01-05     25.0      9.0      NaN
2023-01-06     75.0     75.0     19.0

In [3]:
df.Stock_A.isna()# retorna uma série booleana indicando True para os locais
#onde os valores estão ausentes (NaN) e False onde os valores estão presentes.

date
2023-01-01    False
2023-01-02    False
2023-01-03     True
2023-01-04     True
2023-01-05    False
2023-01-06    False
Name: Stock_A, dtype: bool

In [4]:
df.loc[df.Stock_A.isna()]

            Stock_A  Stock_B  Stock_C
date
2023-01-03      NaN     14.0     86.0
2023-01-04      NaN     25.0     19.0

In [5]:
df.isna()

            Stock_A  Stock_B  Stock_C
date
2023-01-01    False     True    False
2023-01-02    False     True     True
2023-01-03     True    False    False
2023-01-04     True    False    False
2023-01-05    False    False     True
2023-01-06    False    False    False

In [7]:
df[df.Stock_A.notna()]

            Stock_A  Stock_B  Stock_C
date
2023-01-01     20.0      NaN     19.0
2023-01-02    465.0      NaN      NaN
2023-01-05     25.0      9.0      NaN
2023-01-06     75.0     75.0     19.0

In [ ]:
# isnull(),notnull()funciona, mas não mais usado.