In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.DataFrame({
    "A":[" x", "y1 ", " z 90 ", 1.0],
    "B":["ab_ab_0", "c_d_a", np.nan, "g_h"],
    "C":["pre_hello", "pre_world", "pre_love", "pre_python"],
    "D":["1_x", "2_x", "3_x", "4_x"],
    "E":[1, 10, 34, 5689]
})
df

        A        B           C    D     E
0       x  ab_ab_0   pre_hello  1_x     1
1     y1     c_d_a   pre_world  2_x    10
2   z 90       NaN    pre_love  3_x    34
3     1.0      g_h  pre_python  4_x  5689